body{
    background:RGB(255,69,0);
    font-family: 幼圆;

}
input {
    font-family: 幼圆;
}
.contents{
    max-width:80rem;
    margin:0 auto;
    margin-bottom:0.8rem;
    height: 100%;


}
.banner{
    height:60rem;
}
.banner img{
    width: 100%;
    height: 100%;
}
.content{
    background:RGB(255,69,0);
    height: 100%;
    margin: 0;
    padding: -100px 0 0;
}
.content li{
    padding: 4rem 3rem 0 3rem ;
}
.content li input{
    width: 100%;
    height: 7rem;
    border-radius:1rem;

}
.checkNum{
    padding: 4rem 3rem 0 3rem ;

}
.checkNum input{
    width: 50%;
    height: 7rem;
    border-radius:1rem;

}
.checkNum .getNum{
    position:absolute;
    margin: 0 3rem 0 6rem;
    width: 18rem;
    height: 7rem;
    border-radius:1rem;
    background: RGB(65,129,202);
    border-color:RGB(245,69,10);
    box-shadow:0 0 0.1rem rgba(255,255,255,.7) inset;
    color:white;
    font-size: 2rem;
}
.footbox{
    padding: 0 auto;
    text-align:center;

}
.footbox input{
    border-color:RGB(245,69,10);
    box-shadow:0 0 1px rgba(255,255,255,.7) inset;
    border-radius:1rem;
    height: 8rem;
    width: 52rem;
    margin: 6rem;
    background: RGB(91,184,93);
    color:white;
    font-size: 2rem;
}